<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet SAE</title>
</head>
<body>
    <a href="./tableMeteo">
        <button>données csv de Meteo </button>
    </a> 
    <a href="./tableAir">
        <button>données csv de L'air </button>
    </a>
    <a href="./tableMeteoAir">
        <button>données csv de la Meteo et de l'air </button>
    </a> 

    <h1>SAE  Developpement avec une base de données et visualisation</h1>
            

    <p>Différents graphiques avec analyse :</p>

  <button onclick="window.location.href='graphique1.html'">Graphique 1</button>
  <button onclick="window.location.href='graphique2.html'">Graphique 2</button>
  <button onclick="window.location.href='graphique3.html'">Graphique 3</button>

</body>
</html>