<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Analyse</title>
        <!-- <link rel="stylesheet" href="./style.css"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </head>
    <body>  
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">SAE S4 Analyse</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/graphiqueMeteo">graphiques sur la metéo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/graphiqueAir">Graphique sur la qualité de l'air</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/graphique">Graphique</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/mappe">Representation geographique </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/prevision">Prévisions </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div>
            <h1> Project Overview</h1>
            <p>The project is to create a website that visualizes weather and air data </p>
            <p>The website consists of 2 pages:</p>
            <ul>
               <li>A page that allows you to view the air quality graphics</li>
               <li>A page that allows you to view the weather graphics</li>
               <li> A page that allows you to view the graphics</li>
               <li> A page that allows you to view the map</li>
               <li> A page that allows you to view the forecast</li>
            </ul>
            <p>The website is developed in Python with the Flask framework </p>
            <h2>Objective </h2>
            <p>The goal of the project is to create a website that allows you to view weather and air <br />data
               1. Data collection from two data sources: 
            <ul>
               <li>The air data is retrieved from <a href="https://hub.arcgis.com/datasets/573182f1b016474ca43b9543e71cd3a6_0/explore?location=47.467301%2C1.684380%2C8.58&showTable=true">hub.arcgis.com</a></li>
               <li>The weather data is retrieved from <a href="https://data.opendatasoft.com/explore/dataset/donnees-synop-essentielles-omm%40public/table/?sort=date&refine.date=2022&refine.nom_reg=Centre-Val+de+Loire">data.opendatasoft.com</a></li>
            </ul>
            2. Data fusion and integration. Apply pre-processing procedures to manage collected data and create/modify them using pandas [1].<br />
            <ul>
               <li>Data integration: combine data from different sources into a unified view</li>
               <li>Normalization of quantitative variables</li>
               <li>Categorical variable coding.</li>
            </ul>
            3. Production of descriptive statistics:<br />
            <ul>
               <li>For each characteristic (according to its type)</li>
               <li>Or for this entire dataset.</li>
            </ul>
            4. Search for missing data, and test several completion methods. <br />
            <ul>
               <li>Evaluating results from different methods by multiple metrics if possible</li>
               <li>Search for the best methods. </li>
            </ul>
            5. Search and treatment of outliers, by several methods
            <ul>
               <li>How do you find the best methods? </li>
               <li>Evaluation of results by several metrics. </li>
               <li>Which method should you use among those proposed by the application?</li>
            </ul>
            6. Data visualization for an explanatory characteristic/variable (according to its type): select among those proposed by the provided application or for all characteristics (recurrence, distribution, etc.)
            7. Feature selection: use different techniques for feature selection, such as univariate filter selection methods and recursive elimination algorithm [2, 3]. <br />
            <ul>
               <li>How do you find the best methods? </li>
               <li>Evaluation of results by multiple metrics. </li>
               <li>Which method should you use among those proposed by the application? </li>
            </ul>
            8. Prediction or classification (depending on the context) by several machine learning techniques (model selection). <br />
            9. Public interface to show the results of the analysis to the client.
            </p>
         </div>
    </body>
</html>