<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Meteo and air data </title>              
    </head>
    <body>
        <div align="center">
            <table>
                <h1>
                <!--Displaying the converted table-->
                     {% for table in tables %}
                    <h2>{{titles[loop.index]}}</h2>                            
                    {{ table|safe }}
                    {% endfor %}     
                </h1> 
            </table>
        </div>
<!--        <img src="{{ url_for('static', filename='image/temperature_qualite_air.png') }}" alt="air" width="1000" height="500">-->
    </body>
</html>